<md-sidenav
	class="md-sidenav-left"
	md-component-id="left"
	md-whiteframe="4">
	<md-toolbar layout="row" layout-align="center center" layout-padding class="md-tall custom-toolbar">
		<md-icon>chat</md-icon>
		<h2 class="md-toolbar-tools">Hermes</h2>
	</md-toolbar>
	<md-content layout="column" layout-padding>
		<div flex layout="row" layout-align="center center">
			<span flex class="truncate">My ID: {{$root.peerID || $root.peerStatus}}</span>
			<md-button ngclipboard ngclipboard-success="$root.copySuccess()"
					   data-clipboard-text="{{$root.peerID || 'ID_NOT_LOADED'}}" class="md-icon-button md-primary"
					   aria-label="Copy">
				<md-icon>content_copy</md-icon>
			</md-button>
			<md-button ng-click="$root.reset();" layout-fill class="md-icon-button md-primary">
				<md-icon>refresh</md-icon>
			</md-button>
		</div>
		<div flex layout="row">
			<md-input-container layout-fill>
				<label>Target user ID</label>
				<input ng-model="$root.targetID">
			</md-input-container>
			<md-button ng-click="$root.setTargetID();" flex="noshrink" layout-fill class="md-icon-button md-primary">
				<md-icon>done</md-icon>
			</md-button>
		</div>
	</md-content>
</md-sidenav>
<md-toolbar md-whiteframe="4">
	<div flex layout-align="start center" class="md-toolbar-tools">
		<md-button class="md-icon-button">
			<md-icon ng-click="$root.toggleSidenav()">menu</md-icon>
		</md-button>
		<h2>Hermes</h2>
		<span flex></span>
		<md-button ng-click="tool.voiceCall()" class="md-icon-button">
			<md-icon>call</md-icon>
		</md-button>
		<md-button ng-click="tool.videoCall()" class="md-icon-button">
			<md-icon>video_call</md-icon>
		</md-button>
		<md-button ng-model="tool.files" ngf-multiple="true" ngf-select="tool.sendFile($files)" class="md-icon-button">
			<md-icon>attachment</md-icon>
		</md-button>
		<md-button ng-click="tool.help($event)" class="md-icon-button">
			<md-icon>help</md-icon>
		</md-button>
	</div>
</md-toolbar>
